repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==22.1.11
          - flake8-builtins==1.5.3
          - flake8-comprehensions==3.8.0
          - flake8-pytest-style==1.6.0
          - flake8-typing-imports==1.12.0
          - pep8-naming==0.12.1
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
#  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety  # no official one available
#    rev: v1.2.2
#    hooks:
#      - id: python-safety-dependencies-check
#        files: requirements
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-use-type-annotations
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
      - id: mypy
        additional_dependencies:
          - lark==1.0.0
        args: [--strict, --implicit-reexport, --ignore-missing-imports, --show-error-codes]
        files: pycep|tests
