# required
lark==1.0.0
typing-extensions==4.0.1

# test
assertpy==1.1
pytest==6.2.5

# dev
bandit==1.7.1
black==21.12b0
flake8==4.0.1
flake8-bugbear==21.11.29
flake8-builtins==1.5.3
flake8-comprehensions==3.7.0
flake8-pytest-style==1.6.0
flake8-typing-imports==1.12.0
isort==5.10.1
mypy==0.931
pep8-naming==0.12.1
pre-commit==2.16.0
