name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.github/**'
      - '.pre-commit-config.yaml'
  pull_request:

permissions:
  contents: read

env:
  PREK_VERSION: '0.2.22'

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244  # v7.1.4
        with:
          activate-environment: true
      - run: uv sync --frozen
      - uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1.0.11
        with:
          prek-version: ${{ env.PREK_VERSION }}

  tests:
    needs: prek
    name: ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        experimental: [false]
#        include:
#          - os: ubuntu-latest
#            python-version: "3.15"
#            experimental: true
      fail-fast: false
    continue-on-error: ${{ matrix.experimental }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244  # v7.1.4
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true
      - name: Install dependencies
        run: uv sync --frozen
      - name: Install pytest plugin
        run: uv pip install pytest-github-actions-annotate-failures
      - name: Run pytest
        run: uv run --frozen pytest
      - if: matrix.os == 'ubuntu-latest' && matrix.python-version == env.MIN_PYTHON_VERSION
        name: Create coverage report
        run: |
          uv pip install pytest-cov
          uv run --frozen pytest -s --cov=pycep --cov-report=lcov
      - if: matrix.os == 'ubuntu-latest' && matrix.python-version == env.MIN_PYTHON_VERSION && github.repository == 'gruebel/pycep'
        name: Upload coverage to coveralls
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e  # v2.3.7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - if: matrix.os == 'ubuntu-latest' && matrix.python-version == env.MIN_PYTHON_VERSION && github.repository == 'gruebel/pycep'
        name: Upload coverage to codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7  # v5.5.1
        with:
          flags: unittests
          fail_ci_if_error: false

  publish:
    if: github.event_name == 'push'
    needs: tests
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
      # IMPORTANT: this permission is mandatory for trusted publishing to pypi
      id-token: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244  # v7.1.4
        with:
          activate-environment: true
      - name: Install dependencies
        run: uv sync --frozen --no-dev
      - name: Commit version bump
        id: version
        run: |
          # bump version
          uv version --bump dev
          new_version=$(uv version --short)

          # commit and push
          git config --global user.name 'gruebel'
          git config --global user.email 'gruebel@users.noreply.github.com'
          git add pyproject.toml uv.lock
          git commit -m "publish version ${new_version}"
          git push

          echo "version=$new_version" >> "$GITHUB_OUTPUT"
      - name: Build Python package
        run: uv build
      - name: Publish prerelease to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
