name: Release

on:
  push:
    tags:
      - "*.*.*"

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest # `pypa/gh-action-pypi-publish` needs Docker
    environment: release
    permissions:
      contents: write
      # IMPORTANT: this permission is mandatory for trusted publishing to pypi
      id-token: write
    outputs:
      version: ${{ steps.version.outputs.current-version }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: master
      - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41  # v7.2.1
        with:
          activate-environment: true
      - name: Install dependencies
        run: uv sync --frozen --no-dev
      - name: Release version ${{ github.ref_name }}
        id: version
        run: |
          # bump version
          uv version ${{ github.ref_name }}
          new_version=$(uv version --short)

          # commit and push
          git config --global user.name 'gruebel'
          git config --global user.email 'gruebel@users.noreply.github.com'
          git add pyproject.toml uv.lock
          git commit -m "publish version ${new_version}"
          git push

          echo "version=$new_version" >> "$GITHUB_OUTPUT"
      - name: Build Python package
        run: uv build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@202313ec7461b6b9e401996714484690ab1ae105  # v3.0.0
      - name: Create GitHub Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b  # v2.5.0
        with:
          body: ${{ steps.extract-release-notes.outputs.release_notes }}
