name: Release

on:
  push:
    tags:
      - "*.*.*"

permissions: read-all

env:
  POETRY_VERSION: "1.1.15"
  MIN_PYTHON_VERSION: "3.7"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b  # v3.0.2
        with:
          ref: master
      - uses: actions/setup-python@b55428b1882923874294fa556849718a1d7f2ca5  # v4.2.0
        with:
          python-version: ${{ env.MIN_PYTHON_VERSION }}
      - name: Set up poetry ${{ env.POETRY_VERSION }}
        uses: abatilo/actions-poetry@0816ab2aa6474edc70c5f39eef65dea80c70d153  # v2.1.6
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
      - name: Install dependencies
        run: poetry install --no-dev
      - name: Release version ${{ github.ref_name }}
        run: |
          # bump version
          poetry version $GITHUB_REF_NAME
          new_version=$(poetry version -s)

          # commit and push
          git config --global user.name 'gruebel'
          git config --global user.email 'gruebel@users.noreply.github.com'
          git add pyproject.toml
          git commit -m "publish version ${new_version}"
          git push
      - name: Publish to PyPI
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: poetry publish --build
      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@d7f9902387b9be21075ddaecb27f429142899984  # v1.15.0
      - name: Create GitHub Release
        uses: softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5  # v0.1.14
        with:
          body: ${{ steps.extract-release-notes.outputs.release_notes }}
