name: Release

on:
  push:
    tags:
      - "*.*.*"

permissions:
  contents: read

env:
  UV_VERSION: "0.6.x"

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
      # IMPORTANT: this permission is mandatory for trusted publishing to pypi
      id-token: write
    outputs:
      version: ${{ steps.version.outputs.current-version }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          ref: master
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
        with:
          python-version-file: '.python-version'
      - name: Set up uv ${{ env.UV_VERSION }}
        uses: astral-sh/setup-uv@4959332f0f014c5280e7eac8b70c90cb574c9f9b  # v6.6.0
        with:
          version: ${{ env.UV_VERSION }}
      - name: Install dependencies
        run: uv sync --no-dev
      - name: Bump version
        id: version
        uses: callowayproject/bump-my-version@d6368037f18eff6802afbcaeb3ed06fc5b62998f  # 1.2
        with:
          args: '--new-version ${{ github.ref_name }}'
      - name: Release version ${{ github.ref_name }}
        run: |
          # commit and push
          git config --global user.name 'gruebel'
          git config --global user.email 'gruebel@users.noreply.github.com'
          git add pyproject.toml
          git commit -m "publish version ${{ steps.version.outputs.current-version }}"
          git push

          echo "version=$new_version" >> $GITHUB_OUTPUT
      - name: Build Python package
        run: uv build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc  # v1.12.4
      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@cae32133495112d23e3569ad04fef240ba4e7bc8  # v2.3.0
      - name: Create GitHub Release
        uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836  # v2.3.3
        with:
          body: ${{ steps.extract-release-notes.outputs.release_notes }}

  create-pr:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout checkov
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          token: ${{ secrets.PAT_TOKEN }}
          repository: bridgecrewio/checkov
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
        with:
          python-version-file: '.python-version'
      - name: Prepare PR
        run: |
          # install needed tools
          python -m pip install --no-cache-dir --upgrade pipenv "pipenv-setup[black]" "vistir<0.7.0"

          # update Pipfile
          pipenv --python ${{ env.MIN_PYTHON_VERSION }}
          pipenv install pycep-parser==${{ needs.release.outputs.version }}
          pipenv lock

          # update setup.py
          pipenv-setup sync --pipfile
      - name: Create PR
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e  # v7.0.8
        with:
          token: ${{ secrets.PAT_TOKEN }}
          branch: update-pycep-parser-dep
          delete-branch: true
          commit-message: update pycep-parser version
          title: "chore: update pycep-parser version to ${{ needs.bump-version.outputs.version }}"
          body: |
            - Automatic update of pycep-parser
            powered by [create-pull-request](https://github.com/peter-evans/create-pull-request) GHA
