name: Semgrep

on:
  push:
    branches: [ master ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]
  schedule:
    - cron: '0 20 * * 5'

permissions: read-all

jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    if: (github.actor != 'dependabot[bot]')
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846  # v3.0.0
      - uses: returntocorp/semgrep-action@6808f9979438f48d88ec7424ce394d0fcb0e6833  # v1 (0.86.5)
        with:
          publishToken: ${{ secrets.SEMGREP_APP_TOKEN }}
          publishDeployment: ${{ secrets.SEMGREP_DEPLOYMENT_ID }}
          generateSarif: "1"
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@9c644ca2ab8e57ea0a487b5ec2f8290740378bfd  # v2.1.6
        with:
          sarif_file: semgrep.sarif
        if: always()
